{{#each category}}

<table class="ui table">
  <thead>
    <tr>
      <th>Title</th>
      <th>ID</th>
      <th>Links</th>
      <th>Picture</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{id}}
        </td>
        <td>
          {{links.length}}
        <td>
          {{#each album.photos}}
            <img src="{{img}}">
          {{/each}}
        </td> 
      </table>
        <td>
          <a href="/category/{{id}}" class="ui icon button"><i class="icon folder open"></i></a>
        </td>
        <td>
            <a href="/dashboard/deletecategory/{{id}}" class="ui icon button"><i class="trash outline icon"></i></a>
        </td>
      </tr>
  </tbody>
{{/each}}

