
<p>
  Total Categories on your account: {{sizeUser}}<br>
  Total Links on your account: {{totalLinks}}<br>
  Average number of links between all categories: {{average}}
</p>

<p>
  Total Categories: {{sizeAll}}<br>
  Average number of links across all users: {{averageAll}}
</p>